<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Signup</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
          </div>
          <div *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['firstName'].errors.required" class="red">
              First name is required
            </div>
            
            <div *ngIf="signupForm.controls['firstName'].errors.minlength" class="red">
              First name must have at least 3 chars

            </div>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
          </div>
          <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['firstName'].dirty)">
            <div *ngIf="signupForm.controls['lastName'].errors.required" class="red">
              last name is required
            </div>           
            <div *ngIf="signupForm.controls['lastName'].errors.minlength" class="red">
              last name must have at least 5 chars
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
            <div *ngIf="signupForm.controls['email'].errors.required" class="red">
              Email  is required
            </div>           
            <div *ngIf="signupForm.controls['email'].errors.email" class="red">
              Type Email
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="pwd" placeholder="Password">
          </div>
          <div *ngIf="signupForm.controls['pwd'].invalid && (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">
            <div *ngIf="signupForm.controls['pwd'].errors.required" class="red">
              Password is required
            </div>            
            <div *ngIf="signupForm.controls['pwd'].errors.minlength" class="red">
              Password must have at least 8 chars
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmPwd" placeholder="confirm Password">
          </div>
          <div class="form-group">
            <input type="submit" (click)="signup()" class="btn btn-primary py-3 px-5" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>